body {
  background: #f0f0f0;
  box-sizing: border-box;
  color: #292929;
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  margin: 0;
}

/* header {
  left: 0px;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 999;
  width: 100%;
  background: #253138;
}
*/
main {
  height: 100%;
  overflow: hidden;
  width: 100%;
}

nav {
  background-color: #0d1b28;
  height: 100vh;
} 

h1 {
  color: white; 
  margin-bottom: 60px;
}
label {
  color: #292929;
}
input {
  padding: 12px 20px;
  border: none;
  border-bottom: 1px solid #c5c5c5;
}

select {
  border: none;
  font-size: 16px;
  color: inherit;
}
button {
  background: #2191bf;
  color: #fff;
  padding: 12px 20px;
  border-radius: 1px;
  border: none;
  font-size: 16px;
}

ul {
  list-style: none;
}

li {
  margin-bottom: 15px;
}

a {
  text-decoration: none;
  color: #fff;
}

a:active {
  color: red;
}

/*-------------------------Login Page -------------------*/

.login{
  width: 100%;
  height: 100vh;
  background-color: #0d1b28;
  position: relative;
  float: right;
}

.login-content {
  margin-top: 30%;
  text-align: center;
}

.login form {
  width: 330px;
  margin: 0 auto;
}

.login input { 
  color: rgb(139, 139, 139);
  font-size: 16px;
  display: block; 
  width: 100%;
  background: #1b2935;
  border: 1px #424a52 solid; 
  margin-bottom: 14px;
  box-sizing: border-box;
}

.login button { 
  width: 100%;
}

/* .left-img{
  display: none;
} */


/*-------------------------Dashboard -------------------*/
.topbar-left {
  display: inline-block;
}

.topbar-right {
  float: right;
  display: inline-block;
  margin-top: 10px;
}

.nav-header {
  text-align: center;
  padding: 30px 0 60px 0;
}

.nav-icon {
  width: 24px;
  height: auto;
  margin-right: 5px;
}

.icon {
  width: 18px;
  height: auto;
  margin-left: 20px;
}

.user-account-name {
  margin-right: 20px;
  display: inline-block;
}


.card-box {
  background-color: #fff;
  padding: 20px;
  height: 100%;
  text-align: center;
  border-left: 3px solid #2191bf;
}
.card-box h4{
  color: #292929;
}

.row-pad {
  padding: 0 20px;
}

.table {
  background-color: #fff;
  padding: 0 20px; 
  margin-top: 20px;
}

.main-content {
  background-color: white;
  padding: 10px;
  margin-top: 20px; 
}

.main-overflow {
  overflow: hidden;
}

.strong {
  font-weight: bold;
}

.dependent-form{
  margin: 10px 0;
  
}
/*-------------------------Login Page -------------------*/

.employee-form li{
  list-style: none;
  float: left;
  display: block;
}

/*-------------------------desktop------------------------------------------------------------------------*/
@media only screen 
and (min-width : 768px) {
/* Styles */

/*-------------------------Login Page -------------------*/

.login {
      width: 50%;
      height: 100vh;
      background-color: #0d1b28;
      position: relative;
      float: right;
  }

  .left-img {
      width: 50%;
      height: 100vh;
      background-image: url('../images/home-right.jpg');
      background-size: cover;
      background-position: center;
      display: inherit;
  }

/*-------------------------Dashboard -------------------*/



}

